<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAPMcHPDVYjEN3Cjnm-sXkpTGF1Z25pAU0</string>
	<key>GCM_SENDER_ID</key>
	<string>909949856217</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecomm</string>
	<key>PROJECT_ID</key>
	<string>e-commerce-app-71990</string>
	<key>STORAGE_BUCKET</key>
	<string>e-commerce-app-71990.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:909949856217:ios:411680d3de5d410c9891c8</string>
</dict>
</plist>